@namespace Watchtower
@using Watchtower.Data
@using MongoDB.Driver

@if (loaded) {
    <div>
        <h3>@host.hostname</h3>
        <p>@Resources.Count @(Resources.Count == 1 ? "resource" : "resources")</p>

        @foreach (var resource in Resources)
        {
            <div>
                <h4>@resource.method @resource.path</h4>
            </div>
        }
    </div>
}

@code {
    [ParameterAttribute]
    public WatchtowerHost? host { get; set; }
    [ParameterAttribute]
    public MongoClient? client { get; set; }
    public List<WatchtowerResource> Resources { get; set; }
    public bool loaded { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Resources = host.Resources(client);
        loaded = true;
    }
}
